<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks in {{ genre }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>All Tracks in {{ genre.title() }}</h1>
    <div>
        {% for track in tracks %}
        <div class="track">
            <iframe src="https://open.spotify.com/embed/track/{{ track.uri.split(':')[-1] }}"
                    width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <p>{{ track.name }} by {{ track.artist }}</p>
            <p>Popularity: {{ track.popularity }}</p>
            <p>Estimated Plays: {{ track.play_count }}</p>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('genres') }}">Go Back</a>
</body>
</html>
