<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlists for "{{ vibe }}"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Playlists for "{{ vibe }}"</h1>
    <ul>
        {% for playlist in playlists %}
        <li>
            {% if playlist.image %}
            <img src="{{ playlist.image }}" alt="{{ playlist.name }}" style="width:100px;height:100px;">
            {% endif %}
            <a href="{{ playlist.url }}" target="_blank">{{ playlist.name }}</a>
            <p>{{ playlist.description }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="/">Go Back</a>
</body>
</html>
